/* CSS for styling the menu */
#menu {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
  }
  
  #logo {
    flex: 1;
    text-align: center;
    font-size: 1.5em;
  }
  
  #menu-items {
    flex: 3;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-item {
    flex: 1;
    text-align: center;
  }
  
  .menu-item a {
    display: block;
    padding: 1em;
    color: #fff;
    text-decoration: none;
  }
  
  .menu-item a:hover {
    background-color: #555;
  }

  main::after {
    content: "";
    clear: both;
    display: block;
  }

  footer {
    height: 100px;
  }

  main {
    margin-bottom: 100px;
  }

  /* styling for articles page */

  .article {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  overflow: hidden;
}

.article-image {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.article-title {
  margin: 10px 0;
}

.article-date {
  color: gray;
  font-size: 12px;
  margin: 0 10px 10px 10px;
}

.article-description {
  flex-grow: 1;
  padding: 10px;
}
